<div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="fadeIn first">
        <h2>Forex Calculator</h2>
      </div>
      <div class="input-group mb-3">
        <!-- <select class="form-control" id="symbolName" [(ngModel)]="symbolObject & symbolObject.Id">
            <option value=""></option>
            <option *ngFor="let sb of symbols" [value]="sb.Id"> {{ sb.Symbol }}</option>
        </select> -->
        <select class="form-control" id="exampleFormControlSelect1" style="margin-left: 5px; margin-top: 5px;">
            <option>USD</option>
            <option>CAD</option>
            <option>AUD</option>
            <option>EUR</option>
            <option>GBP</option>
        </select>
        <input type="text" class="form-control" aria-label="Text input with dropdown button" [ngModel]="amount" (change)="convertCurrency()">
      </div>
      <div class="input-group mb-3">
        <!-- <select class="form-control" id="symbolName" [(ngModel)]="symbolObject & symbolObject.Id">
            <option value=""></option>
            <option *ngFor="let sb of symbols" [value]="sb.Id"> {{ sb.Symbol }}</option>
        </select> -->
        <select class="form-control" id="exampleFormControlSelect1" style="margin-left: 5px; margin-top: 5px;">
            <option>EUR</option>
            <option>CAD</option>
            <option>AUD</option>
            <option>USD</option>
            <option>MXN</option>
        </select>
        <input type="text" class="form-control" aria-label="Text input with dropdown button" [ngModel]="symbolCurrency" (change)="convertCurrency()">
      </div>
      <div class="row">
        <div class="col">
            <button class="btn btn-primary fadeIn fourth" id="buy">Buy</button>
        </div>
        <div class="col">
            <button class="btn btn-primary fadeIn fourth" id="sell">Sell</button>
        </div>
      </div>
  
    </div>
</div>